[tool.poetry]
name = "sapientml-core"
version = "0"
description = "A SapientML plugin of SapientMLGenerator"
authors = ["The SapientML Authors"]
maintainers = [
    "Kosaku Kimura <kimura.kosaku@fujitsu.com>",
    "Akira Ura <ura.akira@fujitsu.com>",
]
license = "Apache-2.0"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
sapientml = "*"
sapientml-loaddata = "^0.3.1"
sapientml-preprocess = "^0.3.1"
scikit-learn = "1.1.3"
scipy = "^1.11.1"
jinja2 = "^3.1.2"
xgboost = "^1.7.6"
nltk = "^3.8.1"
optuna = "^3.2.0"
catboost = "^1.2"
lightgbm = "^4.0.0"
imbalanced-learn = "^0.11.0"
numba = "^0.57.1"
nbformat = "^5.9.2"
nbconvert = "^7.7.4"
seaborn = "^0.12.2"
japanize-matplotlib = "^1.1.3"
ipykernel = "^6.25.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
pytest-xdist = "^3.3.1"
black = "^23.7.0"
flake8 = "^6.1.0"
isort = "^5.12.0"
pysen = "^0.10.5"
pre-commit = "^3.3.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.plugins."sapientml.pipeline_generator"]
sapientml = "sapientml_core:SapientMLGenerator"

[tool.poetry.plugins."sapientml.config"]
sapientml = "sapientml_core:SapientMLConfig"

[tool.pysen]
version = "0.10"

[tool.pysen-cli]
settings_dir = ".pysen"

[tool.pysen.lint]
enable_black = true
enable_flake8 = true
enable_isort = true
enable_mypy = false
line_length = 120
py_version = "py310"

[tool.pysen.lint.source]
includes = ["sapientml_core/", "tests/"]
[pytest]
addopts = "-p no:cacheprovider -s"
