{% if columns %}
with open('simpleimputer-numeric.pkl', 'rb') as f:
    simple_imputer = pickle.load(f)

NUMERIC_COLS_WITH_MISSING_VALUES = {{ columns }}
{{ test_dataset }}[NUMERIC_COLS_WITH_MISSING_VALUES] = simple_imputer.transform({{ test_dataset }}[NUMERIC_COLS_WITH_MISSING_VALUES])
{% endif %}
{% if cols_almost_missing_numeric %}
NUMERIC_ALMOST_MISSING_COLS = {{ cols_almost_missing_numeric }}
{{ test_dataset }}[NUMERIC_ALMOST_MISSING_COLS] = {{ test_dataset }}[NUMERIC_ALMOST_MISSING_COLS].fillna(0)
{% endif %}