{% if columns %}
with open('simpleimputer-string.pkl', 'rb') as f:
    simple_imputer = pickle.load(f)

STRING_COLS_WITH_MISSING_VALUES = {{ columns }}
{{ test_dataset }}[STRING_COLS_WITH_MISSING_VALUES] = simple_imputer.transform({{ test_dataset }}[STRING_COLS_WITH_MISSING_VALUES])
{% endif %}
{% if cols_almost_missing_string %}
STRING_ALMOST_MISSING_COLS = {{ cols_almost_missing_string }}
{{ test_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ test_dataset }}[STRING_ALMOST_MISSING_COLS].astype(str)
{{ test_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ test_dataset }}[STRING_ALMOST_MISSING_COLS].fillna('')
{% endif %}