{% if columns %}
import numpy as np
from sklearn.impute import SimpleImputer

STRING_COLS_WITH_MISSING_VALUES = {{ columns }}
simple_imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
{{ train_dataset }}[STRING_COLS_WITH_MISSING_VALUES] = simple_imputer.fit_transform({{ train_dataset }}[STRING_COLS_WITH_MISSING_VALUES])
{{ test_dataset }}[STRING_COLS_WITH_MISSING_VALUES] = simple_imputer.transform({{ test_dataset }}[STRING_COLS_WITH_MISSING_VALUES])
{% endif %}
{% if cols_almost_missing_string %}
STRING_ALMOST_MISSING_COLS = {{ cols_almost_missing_string }}
{{ train_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ train_dataset }}[STRING_ALMOST_MISSING_COLS].astype(str)
{{ test_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ test_dataset }}[STRING_ALMOST_MISSING_COLS].astype(str)
{{ train_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ train_dataset }}[STRING_ALMOST_MISSING_COLS].fillna('')
{{ test_dataset }}[STRING_ALMOST_MISSING_COLS] = {{ test_dataset }}[STRING_ALMOST_MISSING_COLS].fillna('')
{% endif %}