from sklearn.preprocessing import OrdinalEncoder

CATEGORICAL_COLS = {{ columns }}
ordinal_encoder = OrdinalEncoder(handle_unknown="use_encoded_value", unknown_value=-1)
{{ train_dataset }}[CATEGORICAL_COLS] = ordinal_encoder.fit_transform({{ train_dataset }}[CATEGORICAL_COLS])

with open('ordinalEncoder.pkl', 'wb') as f:
    pickle.dump(ordinal_encoder, f)
