# Undo special symbols for column names
feature_train = feature_train.rename(columns={TARGET_COLUMNS[0]: cols_has_symbols})
target_train = target_train.rename(columns={TARGET_COLUMNS[0]: cols_has_symbols}) 
TARGET_COLUMNS = cols_has_symbols


