y_prob = model.predict_proba(feature_test)

# POST PROCESSING
{% if pipeline.adaptation_metric.startswith("MAP_") %}
y_prob_sorted_index = pd.DataFrame(np.argsort(-y_prob))
y_prob = y_prob_sorted_index.apply(lambda x: model.classes_[x]).to_numpy()
{% else %}
if np.shape(y_prob)[1] == 2:
    y_prob = y_prob[:, 1]
{% endif %}